.footer {
  .inner-footer {
    display: flex;
    border-top: 5px solid #e5e5e5;
    color: black;
    padding: 20px 0;
    font-size: 14px;
    margin-top: 15px;
  }
  .list-menu-footer:first-of-type {
    font-weight: bold;
  }
  .list-menu-footer {
    position: relative;
    li {
      width: 100%;
      float: left;
      margin-bottom: 15px;
    }
  }
  .list-menu-footer:nth-child(5):before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    left: -15px;
    background: #e5e5e5;
  }
  .wrap-contact {
    .control {
      display: flex;
      .open-popup-link {
        height: 32px;
        line-height: 30px;
        padding: 0 10px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        font-size: 14px;
        color: #757575;
        span:first-child {
          margin-right: 2px;
        }
      }
    }
    .title-contact {
      display: flex;
      flex-wrap: wrap;
      p {
        width: 50%;
      }
    }
  }
}
